@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Mode Colors */
    --primary-light: #eeeeee;
    --secondary-light: #f7f7f7;
    --tertiary-light: #929aab;
    --contrasting-light: #d8d9da;

    /* Dark Mode Colors */
    --dark-primary-dark: #272829;
    --dark-secondary-dark: #61677a;
    --dark-tertiary-dark: #d8d9da;
    --dark-contrasting-dark: #d8d9da;
  }
}
/* :root {
  background-color: #d0e7d2;
  color: #618264;
} */

hr {
  border-top: 1px solid #272829;
  opacity: 30%;
}

/* darkest: 618264 */
/*  ^: 79AC78 */
/*  ^: B0D9B1 */
/* lightest: D0E7D2 */

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 5vw;
  text-transform: uppercase;
}

.title-word {
  animation: color-animation 5s ease-in-out infinite;
}

.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.title-word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

.title-word-3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}

.title-word-4 {
  --color-1: #3d8dae;
  --color-2: #df8453;
  --color-3: #e4a9a8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

/*  */
@media screen and (min-width: 1024px) {
  .title {
    font-size: 3vh;
  }
}
