@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Mode Colors */
    --primary-light: #eeeeee;
    --secondary-light: #f7f7f7;
    --tertiary-light: #929aab;
    --contrasting-light: #d8d9da;

    /* Dark Mode Colors */
    --dark-primary-dark: #272829;
    --dark-secondary-dark: #61677a;
    --dark-tertiary-dark: #d8d9da;
    --dark-contrasting-dark: #d8d9da;
  }
}
/* :root {
  background-color: #d0e7d2;
  color: #618264;
} */

hr {
  border-top: 1px solid #272829;
  opacity: 30%;
}

/* darkest: 618264 */
/*  ^: 79AC78 */
/*  ^: B0D9B1 */
/* lightest: D0E7D2 */
